@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
:root {
  --blue: #0e0620;
  --white: #ffffff;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:"Nunito Sans";
  color: var(--white);
  font-size: 1em;
  overflow: hidden;
  background-color: var(--blue);
  /*stroke: var(--white);*/
}
button {
  font-family:"Nunito Sans";
}
ul {
  list-style-type: none;
  padding-inline-start: 35px;
}
svg {
  width: 100%;
  visibility: hidden;
}
h1 {
  font-size: 7.5em;
  margin: 15px 0px;
  font-weight:bold;
}
h2 {
  font-weight:bold;
}

@media screen and (max-width:768px) {
  body {
    display:block;
  }
  .container {
    margin-top:70px;
    margin-bottom:70px;
  }
}

#goHome {
  border-radius: 5px;
  width: 10em;
  font-size: 1.5em;
  font-family: "Nunito Sans";
  background-color: var(--white);
  color: var(--blue);
  border: 1px solid var(--white);
}

#goHome:hover {
  background-color: var(--blue);
  color: var(--white);
  border: 1px solid var(--white);
  transition: .2s ease-in-out;
}
